
<div>
    <!-- בתגית הבאה ישנו שדה שנותן דגש בחירה לתאריך שבחרנו  -->
    <!-- השדה הזה מקבל תאריך שהגדרנו בקובץ ה TS -->
    <mat-calendar [(selected)]="selectedDate"></mat-calendar> <!-- זאת היא תגית שייבאנו מהספריה של אנגולר -->


    <!-- האובייקט שייצרנו בחלק של הטייפסקריפט תופעל אליו פונקציה לקבלת תאריך נוכחי -->
    {{selectedDate.toLocaleDateString()}} <!-- יוצג התאריך הנוכחי -->  <!-- הוא יחפש את התוכן של הסוגריים הכפולים בדף הטייפסקריפט -->


    <!-- Tasks בלחיצה על   --> <!--  {date:selectedDate} את התאריך הנבחר -->  <!-- נשלח לנתיב /tasks -->
    <!-- שייצרנו  [routerLink] בזכות  -->
     <a [routerLink]="['/tasks',{date:selectedDate}]">Tasks</a> <!-- המילה טאסק היא לינק היא מקבל נתיב וערך -->
     <!-- [routerLink]="['הניתוב',{date:המידע}]" -->
</div>